* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

body {
  background-color: #EDEDED !important;
}